DEBUG=True
SECRET_KEY=ym16n&!q!x1ib*%r0q=k&&m2q&5l-n%3e9v#egqq@e&tf)$%)j!
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
JWT_SECRET=571cAZyfbEhawNBPjCV4FqC4bS-BXQS6k7_Mm3-kK9VIQ4ezTus2qtD0WoDY4eYPr1R5yHrX7EhRop4OLAohiw
ALLOWED_HOSTS=localhost,127.0.0.1
